{% extends 'base.html' %}
{% block title %}
    {{block.super}}&nbsp&nbsp Showing Post-Office Details
{% endblock %}

{% block pincode_content %}
{% for city in cities.object_list %}
  {{city.post_office_name }}
    <br>
    {{city.pin_code }}
    <br>
    {{city.district_name }}
    <br>
    {{city.state }}
    <br><br><br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if cities.has_previous %}
            <a href="?page={{ cities.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ cities.number }} of {{ cities.paginator.num_pages }}.
        </span>

        {% if cities.has_next %}
            <a href="?page={{ cities.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}



