{% extends "base.html" %}
{% block content %}
{% if no_result %}
    <h5>No result matches your query</h5>
{% endif %}
<h3>Please only enter one of these.</h3>
<form id="myform"  action="{% url 'detail' %}" method="GET" class="big_form">
        Entering the name gets you the pin for it
        <br/>
        Name of the place: <input type="text" class="text" name ="place">
        <br><br>
        Entering the pin gets you all the places with that pin
        <br/>
        Pin Code of the place: <input type="text" class="text" name="pincode">
        <br> <br>
        <input type="submit" name="submit" value="submit" class="button light">
    </form>
{% endblock %}
