{% extends 'base.html' %}

{% block main_content %}
     <h2>Search</h2> 

     <form method="get" action="." class="big_form"> 
         Search: <input type="text" class="text" name ="q" id="id_q" value="{{form.q.value}}">
        <br> <br>
        <input type="submit" name="submit" value="submit" class="button light">
     </form>

     {% if query %}       
         <h3>Results</h3>          
         <div id="inner-content">
             {% for result in page.object_list %}
                {% with branch=result.object %}
                    {% include "bank/branch_snippet.html" %}
                {% endwith %}
             {% empty %}
                 <p>No results found.</p>
             {% endfor %}
             {% if page.has_previous or page.has_next %}
                 <div>
                     {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                     |
                     {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                 </div>
             {% endif %}
         </div>
     {% else %}
     {% endif %}
{% endblock %}
