<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="viewport" content="width=device-width">
    {% block meta %}
    {% endblock %}
    
<title>
      {% block title %}
      bankcenter.in
      {% endblock %}
</title>
    
    
<link rel="SHORTCUT ICON" href="{{ STATIC_URL }}img/favicon__1_.ico"  media="screen">
<!-- Website Styles 
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen"> -->     

<!-- Scripts Styles
<link rel="stylesheet" href="{{ STATIC_URL }}css/scripts/nivo-slider.css" type="text/css" media="screen">  
<link rel="stylesheet" href="{{ STATIC_URL }}css/scripts/prettyPhoto.css" type="text/css" media="screen"> -->     

<!-- Custom Stylesheet
<link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css" type="text/css" media="screen"> --> 

<!--[if IE 7]>
    <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/ie7.css"/>
<![endif]-->
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bankcenter.css" type="text/css" media="screen">
{% block extra_css %}
    
{% endblock %}

</head> 
  
<body>
<div class="navbar navbar-inverse navbar-fixed-top"><!--Top Navigation-->
	<div class="navbar-inner">
    	<div class="container">
        	<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          	</button>
		<div class="nav-collapse collapse">
        	<ul class="nav">
            	<li class="active"><a href="{% url bank_home %}">Home </a></li>
				<li><a href="{% url pincode_home %}">pincode </a></li>
				<li><a href="{% url atm_home %}">ATMS </a></li>
                <li><a href="{% url bank_cities %}">Filter by City </a></li>
                <li><a href="{% url bank_banks %}">Filter by Bank</a></li>
			</ul>
		</div>
		</div>
	</div>
</div><!--Top Navigation Ends-->
    

<header class="header"><!--Header Starts-->
	<div class="container">
    	<div class="logo"><a href="{% url home %}"><img src="{{STATIC_URL}}img/logo.png" alt="Bank Center"></a> </div>
      	<div class="banner"><h3>Enter an Address or Pincode or City and State to begin your search:</h3>
        	<p>For example, Banjara Hills Plot No.9, J R House, Road No.2, or 5000034 or Hyderabad. Andhra Pradesh<br></p>
            <form method="get" action="/search/">
			<div class="input-append">
                <input class="span6" name="q" id="appendedInputButtons" type="text" style="height:25px;" value="{{query}}">
              <button class="btn btn-inverse" type="submit">Search</button>
              <button class="btn btn-inverse" type="button">Reset</button>
            </div>
            </form>
        </div>
	</div>
</header><!--Header Ends-->
{% block content %}

{% endblock content %}
<script type='text/javascript' src='{{ STATIC_URL }}js/jquery-1.7.1.min.js' ></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/bootstrap-collapse.js' ></script>
<script type='text/javascript'>
  
$(document).ready(function(){
	tdcount = $(".data-table td").length;
    if(tdcount % 2 == 1){
    var e = document.createElement("td"); 
     $(".data-table tr:last-child").append(e);

    } 

	// Making nav active - as per older jquery file.
	var pathname = window.location.pathname;
	$(".nav li").removeClass("active");
	$("a[href='"+pathname+"']").parent().addClass("active");
	
	
	
});
</script>
<footer class="footer">
	<div class="container">
		developed by <a href="http://agiliq.com/" target="_blank">AGILIQ </a>
    </div>
</footer>

