{% extends "base.html" %}
{% block meta %}
    <meta name="keywords" content="{{bank.slug}}"/>
{% endblock %}
{% block title %}
    {{block.super}}&nbsp&nbsp{{bank.bank_name}}
{% endblock %}
{% block content %}
    {{block.super}}
<div class="container">
    <div class="row">
        <div class="span12">
			<table class="table table-bordered table-striped whiteBg">		        
		        <tbody>
				{% for branch in branch_list %}				 
					{% include "bank/branch_snippet.html" %}
				{% endfor %}
				</tbody>
			</table>
		</div>		
	</div>
</div>
{% endblock %}
