{% extends "base.html" %}
{% block content %}
    {{block.super}}
<div class="container">
    <div class="row">
        <div class="span12">
			<table class="table table-bordered table-striped whiteBg">
		        <thead>
		          <tr>
		            <th colspan="2" class="table_header"><h2>MOST POPULAR BANKS  <span></span></h2></th>
		          </tr>
		        </thead>
		        <tbody>
				  	{% for bank in bank_list %}
		          	{% if not forloop.counter|divisibleby:2 %} <tr> {% endif %}
		            <td><a href="{% url 'bank_bank_branches' bank.slug %}">{{bank}}</a> </td>
		          	{% if forloop.counter|divisibleby:2 %} </tr> {% endif %}
				  	{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}
