{% extends "base.html" %}
{% block meta %}
    <meta name="keywords" content="{{branch.ifsc}},{{branch.micr}},{{branch.branch_name}},{{branch.address}}" />
{% endblock %}
{% block title %}
    {{block.super}}&nbsp&nbsp{{branch.bank}}&nbsp&nbsp{{branch.branch_name}}
{% endblock %}
{% block main_content %}
    <ul id="breadcrumbs">
        <li><a href="{% url bank_home %}">Home</a></li>
        <li><a href="{% url bank_bank_branches branch.bank.slug %}">{{branch.bank}}</a></li>
        {% if branch.location.city %}
        <li><a href="{% url bank_bank_city_branches branch.bank.slug branch.location.slug %}">{{branch.location.city}}</a></li>
        {% endif %}
        <li>{{branch.branch_name}}</li>
    </ul>
    <br/>
    <br/>
    <h3>Branch details</h3>
    <table cellspacing="3px" cellpadding="5px">
        <tr>
            <td>
                Bank name
            </td>
            <td>
                <a href="{% url bank_bank_branches branch.bank.slug %}">{{branch.bank}}</a>
            </td>
        </tr>
        <tr>
            <td>
                Branch
            </td>
            <td>
                {{branch.branch_name}}
            </td>
        </tr>
        <tr>
            <td>
                Ifsc Code
            </td>
            <td>
                <a href="{% url bank_branch_with_ifsc branch.ifsc %}">{{branch.ifsc}}</a>
            </td>
        </tr>
        <tr>
            <td>
                Micr Code
            </td>
            {% if branch.micr %}
            <td>
                <a href="{% url bank_branch_with_micr branch.micr %}">{{branch.micr}}</a>
            </td>
            {% else %}
            <td>
                MICR code does not exist
            </td>
            {% endif %}
        </tr>
        <tr>
            <td>
                Address
            </td>
            <td>
                {{branch.address}}
            </td>
        </tr>
        <tr>
            <td>
                Contact
            </td>
            <td>
                {{branch.contact}}
            </td>
        </tr>
        <tr>
            <td>
                City
            </td>
            <td>
                <a href="{% if branch.location.city %}{% url bank_city_branches branch.location.slug %}{% endif %}">{{branch.location.city}}</a>
            </td>
        </tr>
        <tr>
            <td>
                District
            </td>
            <td>
                {{branch.location.district}}
            </td>
        </tr>
        <tr>
            <td>
                State
            </td>
            <td>
                {% if branch.location.state %}
                <a href="{% url bank_state_branches branch.location.state_fk.slug %}">{{branch.location.state}}</a>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
