{% extends "base.html" %}
{% block title %}
    {{block.super}}&nbsp&nbsp{{branch.bank}}&nbsp&nbsp{{branch.branch_name}}
{% endblock %}
{% block main_content %}
    {{block.super}}
    <table>
        <tr>
            <td>
                Bank name
            </td>
            <td>
                <a href="{% url bank_bank_branches branch.bank.slug %}">{{branch.bank}}</a>
            </td>
        </tr>
        <tr>
            <td>
                Branch
            </td>
            <td>
                {{branch.branch_name}}
            </td>
        </tr>
        <tr>
            <td>
                Ifsc Code
            </td>
            <td>
                {{branch.ifsc}}
            </td>
        </tr>
        <tr>
            <td>
                Micr Code
            </td>
            {% if branch.micr %}
            <td>
                <a href="">{{branch.micr}}</a>
            </td>
            {% else %}
            <td>
                MICR code does not exist
            </td>
            {% endif %}
        </tr>
        <tr>
            <td>
                Address
            </td>
            <td>
                {{branch.address}}
            </td>
        </tr>
        <tr>
            <td>
                City
            </td>
            <td>
                <a href="{% url bank_city_branches branch.location.slug %}">{{branch.location.city}}</a>
            </td>
        </tr>
        <tr>
            <td>
                District
            </td>
            <td>
                {{branch.location.district}}
            </td>
        </tr>
        <tr>
            <td>
                State
            </td>
            <td>
                <a href="{% url bank_state_branches branch.location.state_fk.slug %}">{{branch.location.state}}</a>
            </td>
        </tr>
        <tr>
            <td>
                Last accessed
            </td>
            <td>
                {{branch.last_accessed}}
            </td>
        </tr>
    </table>
{% endblock %}