{% extends "base.html" %}
{% block title %}
    {{block.super}} Search by City
{% endblock %}
{% block extra_head %}
    <style type="text/css">
        #leftcolumn { width: 300px; float: left}
        #rightcolumn { width: 300px; float: right}
    </style>
{% endblock %}
{% block main_content %}
    {{block.super}}
    <div id="rightcolumn">
        Filter city by first letter
        <br/>
        {% for letter in letters %}
            <a href="?letter={{letter}}">{{letter}}</a>
            <br/>
        {% endfor %}
    </div>
    <div id="leftcolumn">
        {% for loc in location_list %}
            <a href="/banks/city/{{loc.slug}}">{{loc.city}}, {{loc.district}}, {{loc.state}}</a>
            <br/>
        {% endfor %}
    </div>
    
    <!--<div class="pagination">
    <span class="step-links">
        {% if location_list.has_previous %}
            <a href="?page={{ location_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ location_list.number }} of {{ location_list.paginator.num_pages }}.
        </span>

        {% if location_list.has_next %}
            <a href="?page={{ location_list.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>-->
{% endblock %}