{% extends "base.html" %}
{% block title %}
    {{block.super}} Search by City
{% endblock %}
{% block content %}

<div class="container"><!--Content Starts-->
    <div class="row">
		<div class="pagination pagination-right"><!--pagination Starts-->
              <ul>
                	{% for letter in letters %}
                        <li><a href="?letter={{letter}}">{{letter}}</a></li>
                    {% endfor %}

              </ul>
            </div><!--pagination Ends-->
        <div class="span12">
			<table class="table table-bordered table-striped whiteBg data-table">
		        <thead>
		          <tr>
		            <th colspan="2" class="table_header"><h2>Clicking on a city gets branches in that city<span></span></h2></th>
		          </tr>
		        </thead>
		        <tbody>
					{% for loc in location_list %}
					{% if forloop.counter|divisibleby:2 == 0 %} <tr> {% endif %}
		          	<td width="50%"><a href="{% url 'bank_city_branches' loc.slug %}">{{loc.city}}, {{loc.district}}, {{loc.state}}</a> </td>
		          	{% if forloop.counter|divisibleby:2 == 1 %} </tr> {% endif %}
				  	{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
