{% extends "base.html" %}

{% block style %}
<link ... />
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="span4">
			<table class="table table-bordered table-striped whiteBg">
            <thead>
              <tr>
                <th class="headBg center"><h2>RECENTLY ACCESSED BRANCHES</h2>
					<p>78,056 TOTAL BRANCHES</p>
                </th>
              </tr>
            </thead>
            <tbody>
				{% for branch in branch_list %}
           		<tr>
					<td><a href="{% url 'bank_branch_info' branch.bank.slug branch.slug branch.ifsc %}">{{branch.bank}}</a>
                		<br/>
                		{{branch.branch_name}}
                		<br/>
                		{{branch.location.city}}, {{branch.location.state}}
					</td>
				</tr>
        		{% endfor %}
            </tbody>
          </table>
        </div>
        <div class="span4">
			<table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="headBg"><h2>MOST POPULAR BANKS</h2>
					<p>102 TOTAL BANKS</p>
                </th>
              </tr>
            </thead>
            <tbody>
			{% for bank in bank_list %}
              <tr>
                <td><a href="{% url 'bank_bank_branches' bank.slug %}">{{bank.bank_name}}</a></td>
              </tr>
			{% endfor %}
              <tr>
                <td><a href="{% url 'bank_banks' %}" class="moreInfo">More Banks...</a></td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="span4">
			<table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="headBg"><h2>MOST POPULAR CITIES</h2>
					<p>102 TOTAL BANKS</p>
                </th>
              </tr>
            </thead>
            <tbody>
			{% for loc in location_list %}
              <tr>
                <td><a href="{% url 'bank_city_branches' loc.slug %}">{{loc.city}}, {{loc.district}}, {{loc.state}}</td>
              </tr>
			{% endfor %}
              <tr>
                <td><a href="{% url 'bank_cities' %}" class="moreInfo">More Cities...</a></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
{% endblock content %}

