{% extends "base.html" %}
{% block main_content %}
    <div class="one_third">
    <h3>Recently accessed branches</h3>
    {% for branch in branch_list %}
        <p>
            <a href="{% url bank_branch_info branch.bank.slug branch.slug %}">{{branch.bank}}</a>
            <br/>
            {{branch.branch_name}}
            <br/>
            {{branch.location.city}}, {{branch.location.state}}
            <br/>
            {{branch.last_accessed}}
        </p>
    {% endfor %}
    </div>
    <div class="one_third">
        <h3>Most visited banks</h3>
            {% for bank in bank_list %}
                <p>
                    <a href="{% url bank_bank_branches bank.slug %}">{{bank.bank_name}}</a>
                </p>
            {% endfor %}
    </div>
    <div class="one_third_last">
        <h3>Most visited cities</h3>
        {% for loc in location_list %}
            <p>
                <a href="">{{loc.city}}, {{loc.district}}, {{loc.state}}</a>
            </p>
        {% endfor %}
    </div>
{% endblock %}