{% extends "base.html" %}
{% block title %}
    {{block.super}}&nbsp&nbspBanks in {{location_slug}}
{% endblock %}
{% block main_content %}
    {{block.super}}
    {% for branch in branch_list %}
        <a href="{% url bank_bank_branches branch.bank.slug %}">{{branch.bank}}</a>
        <br/>
        <a href="{% url bank_branch_info branch.bank.slug branch.slug branch.ifsc %}">{{branch.branch_name}}</a>
        <br/>
        {{branch.address}}
        <br/>
        {{branch.location}}
        <hr/>
    {% endfor %}
{% endblock %}
