{% extends "base.html" %}
{% block title %}
{{block.super}}&nbsp&nbspBanks in {{state}}
{% endblock %}
{% block content %}
    {{block.super}}
	<div class="container">
    	<div class="row">  
		   <div class="span12">
			<table class="table table-bordered table-striped whiteBg">
            <thead>
              <tr>
                <th colspan="2" class="table_header"><h2>Banks having branches in <span>{{state}}</span></h2></th>
              </tr>
            </thead>
            <tbody>
				{% for bank in banks %}
				{% if not forloop.counter|divisibleby:2 %} <tr> {% endif %}
              		<td><a href="{% url bank_bank_state_branches state.slug bank.bank__slug %}">{{bank.bank__bank_name}}</a></td>
              	{% if forloop.counter|divisibleby:2 %} </tr> {% endif %} 
			  	{% endfor %}
			</tbody>
			</table>
			<!--<h3></h3>
			{% for bank in banks %}
			<a href="{% url bank_bank_state_branches state.slug bank.bank__slug %}">{{bank.bank__bank_name}}</a><br/>
			{% endfor %}-->
			</div>
		</div>
	</div>
{% endblock %}
