{% extends "base.html" %}
{% block title %}
    {{block.super}}&nbsp&nbsp Showing ATM Details
{% endblock %}
{% block content %}
	<div class="container">
    	<div class="row">  
		   	<div class="span12">
				<table class="table table-bordered table-striped whiteBg">		        
		        <tbody>
					<tr>
		          		<td><a href="{{ atm.get_bank_url }}"><em>{{ atm.name_of_bank }} </em></a> <br />
               				<a href="{{ atm.get_city_url }}"> <em>{{ atm.name_of_city }} </em></a> <br />
               				<em> {{ atm.address }} </em>
						</td>
		          	</tr>
				</table>
        	</div>
		</div>
	</div>
{% endblock %}
