{% extends 'base.html' %}
{% block title %}
    {{block.super}}&nbsp&nbsp  Listing all the atms in {{name}}
{% endblock %}

{% block main_content %}

<h4> Listing all the atms in {{name}} </h4>
{% for city in cities.object_list %}
  {{city.post_office_name }}
    <p> Bank:  {{city.name_of_bank }} </p>
    <a href="{{ city.get_detail_url }}"><i>{{city.address}}</i></a> 
    <br><br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if cities.has_previous %}
            <a href="?page={{ cities.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ cities.number }} of {{ cities.paginator.num_pages }}.
        </span>

        {% if cities.has_next %}
            <a href="?page={{ cities.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}



