{% extends 'base.html' %}
{% block title %}
    {{block.super}}&nbsp&nbsp Showing all  the atms of  {{name}}
{% endblock %}

{% block main_content %}

<h4> Listing all the atms of {{name}} </h4>
{% for bank in banks.object_list %}
 
    <p> City:  {{bank.name_of_bank }} </p>
    {{bank.address }}
    <br><br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if banks.has_previous %}
            <a href="?page={{ banks.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ banks.number }} of {{ banks.paginator.num_pages }}.
        </span>

        {% if banks.has_next %}
            <a href="?page={{ banks.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}



