{% extends "base.html" %}
{% block title %}
    {{block.super}}&nbsp&nbsp Filter ATMs by city/bank
{% endblock %}

{% block content %}
	<div class="container">
    	<div class="row">  
		   <div class="span12">{% if atms.object_list %} 			
			<table class="table table-bordered table-striped whiteBg">   
			<thead>
              <tr>
                <th colspan="2" class="table_header"><h2>ATM DETAILS:</h2></th>
              </tr>
            </thead>         
            <tbody>
				{% for atm in atms.object_list %}
				{% if not forloop.counter|divisibleby:2 %} <tr> {% endif %}
              		<td><a href="{{atm.get_bank_url }}"><em>{{atm.name_of_bank }} </em></a><br />
                <a href="{{atm.get_city_url }}"> <em>{{atm.name_of_city }} </em></a> <br />
                {{ atm.address|slice:":30" }}   
                <a href="{{ atm.get_detail_url }}"><em>{{"go to details ..."}}</em></a> </td>
              	{% if forloop.counter|divisibleby:2 %} </tr> {% endif %} 
			  	{% endfor %}
			</tbody>
			</table>
         
			
            <!--{% for atm in atms.object_list %}
                <a href="{{atm.get_bank_url }}"><em>{{atm.name_of_bank }} </em></a>
                <br>
                <a href="{{atm.get_city_url }}"> <em>{{atm.name_of_city }} </em></a>  
                <br>
                {{ atm.address|slice:":15" }}   
                <a href="{{ atm.get_detail_url }}"><em>{{"go to details ..."}}</em></a> 
                <br><br>
				
            {% endfor %}-->
			{% else %}
			<h3> sorry no matching query </h3>     
			{% endif %} 
			<!--<div class="pagination pagination-right">
				<ul>
					<li><a href="#">«</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">»</a></li>
				</ul>
            </div>
			<div class="pagination">
		      	<span class="step-links">
		        {% if atms.has_previous %}
		        <a href="?letter={{current_letter}}&page={{ atms.previous_page_number }}">previous</a>
		        {% endif %}
		        <span class="current">
		          Page {{ atms.number }} of {{ atms.paginator.num_pages }}.
		        </span>
		        {% if atms.has_next %}
		        <a href="?letter={{current_letter}}&page={{ atms.next_page_number }}">next</a>
		        {% endif %}
		      	</span>
	    	</div><!--pagination Ends-->

{% load i18n %}
<div class="pagination pagination-right">
    <ul>
    {% if atms.has_previous %}
        <li><a href="?page={{ atms.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">&lsaquo;&lsaquo; {% trans "Previous" %}</a></li>
    {% else %}
        <li class="disabled prev"><a href="#">&lsaquo;&lsaquo; {% trans "previous" %}</a></li>
    {% endif %}
    {% for page in pages %}
        {% if page %}
            {% ifequal page atms.number %}
                <li class="current page active"><a href="#">{{ page }}</a></li>
            {% else %}
                <li><a href="?page={{ page }}{{ getvars }}{{ hashtag }}" class="page">{{ page }}</a></li>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if atms.has_next %}
        <li><a href="?page={{ atms.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">{% trans "Next" %} &rsaquo;&rsaquo;</a></li>
    {% else %}
        <li class="disabled next"><a href="#">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
    {% endif %}
    </ul>
</div>
		</div>        
	</div>                
</div>
    

{% endblock %}

